:root{
  --selected-movie-backdrop: '';
}
@import "~bootstrap/scss/bootstrap";
@import './scss/scaffolding';
@import './scss/search';
@import './scss/movie_card';
@import './scss/section';
@import './scss/poster';
@import './scss/modal';
@import './scss/avatar';
.App {
  text-align: center;
}
.outline-0{
  border-color: rgba(0,0,0,0);
}

.u-text--small{
  font-size: 1rem;
}