.scaffold{

  &--horizontal-scroll{
    overflow: hidden;
    .row{
      overflow-x: auto;
      white-space: nowrap;
      &:first-child{
        margin-left: .5rem;
      }
      &:last-child{
        margin-right: .5rem;
      }
    }
  }
}